body,
body > div:first-child,
div#__next,
div#__next > div,
html {
  height: 100%;
}

.overflow {
  height: 50%;
  overflow: hidden;
}

.overflow .card-img-top {
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.5);

}

#nprogress .bar {
  background-color: #ff5367 !important;

}

#nprogress .spinner-icon {
  border-top-color: #ffbb00;
  border-left-color: #ffbb00;
}
/*banner*/
.main-banner {
  background: linear-gradient(to right, #373a3c, black);
}
/*Jobs section*/
.job-item .expand {
  float: right;
  font-size: 32px;
}
.job-description{
  white-space: pre-line;
  line-height: 1.8;
}

.job-item button {
  width: 100%;
  text-align: left;
}
