body,
body > div:first-child,
div#__next,
div#__next > div,
html {
  height: 100%;
  background:#E6F0F3;
}

.overflow {
  height: 50%;
  overflow: hidden;
}

.overflow .card-img-top {
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.5);

}

.nav-item{
  cursor: pointer;
}
.nav-item:hover{
  transform:scale(1.2);
}
#nprogress .bar {
  background-color: #ff5367 !important;

}

#nprogress .spinner-icon {
  border-top-color: #ffbb00;
  border-left-color: #ffbb00;
}
/*banner*/
.main-banner {
  /*background: linear-gradient(to right, #373a3c, black);*/
  border:none;
  border-bottom:solid 3px #7197A4;
  background:#E6F0F3;
  padding-bottom:0px;
}
/*Jobs section*/
h1 i {
  margin-right: 10px;
}
.job-item .expand {
  float: right;
  font-size: 32px;
}

.job-description {
  white-space: pre-line;
  line-height: 1.8;
}

.job-item button {
  width: 100%;
  text-align: left;
}

/*Card colors*/
.card-bg-1{
background:#AFC9D2;
color:#ffffff;
}
.bg-blue1{
  background:#7197A4;
}
.bg-blue2{
  background: #C9DBE9;
}
.bg-blue3{
  background: #a2bfca;
}
.bg-blue4{
  background: #e0eef7;
}
.bg-blue5{
  background: #5a6a75;
}
.txt-blue1{
  color:#2a5969;
}
.btn-secondary {
  color: #fff;
  background-color: #2a5969;
  border-color: #2a5969;
}

/*button transparent*/
.btn:focus, .btn.focus {
  box-shadow: none !important;
}
