
.toggle_skill
  width: 100%
  .progress_container
    display: flex
    align-items: center
    .progress
      width: 100%
  &.empty
    cursor: default !important
    &:hover,&:active,&:focus,&visited
      background-color: transparent !important
      border-color: transparent !important
      box-shadow: none

$bg: #f8f9fa
$text-color: #d7b94c
$caret-color: black
$text-length: 16

// Typing style
.typing
  position: relative
  &::after
    content: "|"
    position: absolute
    right: 0
    width: 100%
    color: $caret-color
    background: $bg
.anim1
  &::after
    animation: typing 1s steps($text-length) forwards, caret 1s infinite, hidingAnimation 0s ease-in 7s forwards
.anim2
  &::after
    animation: typing 2s steps($text-length) forwards, caret 1s infinite, hidingAnimation 0s ease-in 7s forwards
.anim3
  &::after
    animation: typing 3s steps($text-length) forwards, caret 1s infinite, hidingAnimation 0s ease-in 7s forwards

// Typing Animation
@keyframes typing
  to
    width: 0

@keyframes caret
  50%
    color: transparent

@keyframes hidingAnimation
  to
    width: 0
    height: 0
    overflow: hidden
/*Progress bar anim*/
.progress_bar
  background-color: #e9ecef
.color
  position: relative
  background-color: #2780e3
  width: 0px
  height: 10px
  animation: progres 4s normal forwards linear

@keyframes progres
  0%
    width: 0%

  25%
    width: 50%

  50%
    width: 75%

  75%
    width: 85%

  100%
    width: 100%
